*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(185, 212, 203);
}
.cont{
    text-align: center;
    height: 100vh;
    
}
input{
    width: 250px;
    height: 40px;
    border: 2px solid rgb(15, 16, 16);
    border-radius: 25px;
    background-color: lightblue;
    text-align: center;
    color: black;
}
button{
    width: 220px;
    height: 40px;
    border: 2px solid rgb(15, 16, 16);
    border-radius: 25px;
    background-color: rgb(223, 198, 192);
}
.result{
    margin: 50px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(246, 168, 168);
    row-gap: 20px;
    column-gap: 40px;
}
.data{
    width: 500px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: bisque;
    display: inline-flex;
    justify-content: center;
    gap: 5px;
}